.footer{
    padding: 4rem 6rem;
 
   color: white;

}
.footerh1{
    font-size: 2.3rem;
    letter-spacing: 3px;
    font-family: 'Times New Roman', Times, serif;
}
.top{
    display: flex;
    align-items: center;
    text-align: start;
    justify-content: space-between;
    flex-wrap: wrap;
}
h1{

}
.top i{
    color: white;
    font-size: 2rem;
    margin-left: 1rem;
}
.top i:hover{
    color: #01959a;
}
.bottom{
    padding-top: 2rem;
    text-align: start;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
.bottom div{
    display: flex;
    flex-direction: column;
}
.bottom  h4{
    font-size: 1.3rem;
    padding: 1rem 0 0.8rem 0;
}
.bottom a{
    text-decoration: none;
    color: #fafafa;
    padding-bottom: 0.4rem;
    font-size: 1.1rem;
}
.bottom div i{
    font-size: .9rem;
    /* font-weight: 500; */
    margin-right: 7px;
}
.links{
    display: flex;
    align-items: center;
    text-align: start;
    gap: 5px;
}
@media screen and (max-width:850px){
    .footer{
        padding: 4rem 2rem;
    }
    .footer i{
        margin: 1rem 1rem 0 0;
    }
    .bottom div{
        width: 50%;
    }
}
