.relative {
  height: 60px;
}


@media (max-width: 576px) {
  .brand-text {
    font-size: 14px; /* Smaller text size on small screens */
    display: block; /* Ensure the text moves below the icon if needed */
    text-align: center;
  }

  .fa-brain {
    margin: 0 auto; /* Center icon for small screens */
    display: block;
  }
}
